<html>
    <head>
        <title>
            <%= yield(:title) %>
        </title>
        <%= stylesheet_link_tag "application.css" %>
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro" %>
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:700,400" %>
        <%= javascript_include_tag "jquery_ujs.js" %>
        <%= javascript_include_tag "jquery.js" %>
        <%= javascript_include_tag "bootstrap.min.js" %>
        <%= javascript_include_tag "when.js" %>
        <%= javascript_include_tag "core.js" %>
        <%= javascript_include_tag "graphics.js" %>
        <%= javascript_include_tag "mapimage.js" %>
        <%= javascript_include_tag "mapdata.js" %>
        <%= javascript_include_tag "areadata.js" %>
        <%= javascript_include_tag "areacorners.js" %>
        <%= javascript_include_tag "scale.js" %>
        <%= javascript_include_tag "tooltip.js" %>        
        <%= yield(:scripts) %>
        <%= csrf_meta_tags %>
    </head>
    <body>
    <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>
    <div id="splash">
    <div id="graybox">
        <nav class="navbar navbar-default" role="navigation" id="navbar">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left left-navbar">
                        <% if signed_in? %>
                        <li class="left-navbar"><a class="<%= yield(:rstate) %>"
                            href= <%= url_for :controller => '/offer', :action => 'index'%>>
                            POST</a>
                        </li>
                        <li class="left-navbar"><a class="<%= yield(:sstate) %>"  
                            href=<%= url_for :controller => '/requests', :action => 'index'%> >
                            BID</a>
                        </li>
                    <% end %>
                    </ul>
                    <ul class="nav navbar-nav navbar-right right-navbar">
                        <% if signed_in? %>
                        <li class="right-navbar"> 
                        <%= button_to "LOG OUT", sign_out_path, method: :delete , class: "fake_link"%>
                           </li>
                        <% end %>
                     </ul>
                </div>
            </div>
        </nav>
            <%= yield %>
            </div>
        </div>
    </body>
</html>
