<html>
    <head>
        <title>
            <%= yield(:title) %>
        </title>
        <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" %>
        <%= stylesheet_link_tag "application.css" %>
        <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro" %>
        <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:700,400" %>
        <%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
    <div id="splash">
    <div id="graybox">
        <nav class="navbar navbar-default" role="navigation" id="navbar">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right right-navbar">
                    <li class="right-navbar"><a class="<%= yield(:rstate) %>" href=<%= url_for :controller => 'requests', :action => 'new'%>>RESERVE</a></li>
                        <li class="right-navbar"><a class="<%= yield(:sstate) %>"  href=<%= url_for :controller => 'requests', :action => 'index'%> >SCHEDULE</a></li>
                    </ul>
                </div>
            </div>
        </nav>
            <%= yield %>
            </div>
</div>
    </body>
</html>

